
.slider__main-page {
  display: flex;
  overflow: hidden;
  width: 100%;
  /* justify-content: center; */
  gap: 90px;
  margin: 120px auto;
  scroll-behavior: smooth;
}
@media(max-width:767px) {
  .slider__main-page {
  margin-bottom: 100px;
}
}
.slider__main-page.skip {
  scroll-behavior: auto;
}

.slide__main-page {
  min-width: 60%;
  /* position: relative; */
}

.slide__main-page img {
  width: 100%;
  height: auto;
}

.left__main-page {
  /* display: none; */
  cursor: pointer;
  width: 2%;
  content: url(img/left.svg);
  position: absolute;
  top: 46%;
  left: 22%;
}

.right__main-page {
  /* display: none; */
  cursor: pointer;
  width: 2%;
  content: url(img/right.svg);
  position: absolute;
  top: 46%;
  right: 22%;
}

.left__main-page.disabled {
  pointer-events: none;
}
.right__main-page.disabled {
  pointer-events: none;
}

.active .left__main-page {
  display: block;
}

.active .right__main-page {
  display: block;
}
.carousel__main-page {
  position: relative;
}